.ppbw-admin-notice {
    position: relative;
}

.ppbw-admin-notice .ppbw_customize_remind_later {
    position: absolute;
    top: 16px;
    right: 12px;
    background:none;
}


.ppbw-plugin-cta-wrap {
	padding: 10px 20px 33px 20px;
	border: 1px solid #ccc;
	background-color: #fff;
	/* margin-top: 10px; */
}

.ppbw-plugin-cta-wrap .head {
    font-size: 20px;
    font-weight: normal;
    margin: 1em 0;
}

.ppbw-plugin-cta-wrap .button {
    padding: 5px 20px;
    margin-right: 10px;
}

.ppbw-plugin-cta-upgrade {
    position: relative;
    margin: 0px 0 15px;
    border-left-color: #f0b849 !important;
    background: #fff;
    border: 1px solid #ccd0d4;
    border-left-width: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    padding: 4px 15px;
}

.ppbw-plugin-cta-upgrade .note {
	margin: 8px 0;
	max-width: 75%;
}

.ppbw-plugin-cta-upgrade .note::before, .wliplugin-cta-cta-upgrade .note::before {
	content: url("../images/logo.png");
	vertical-align: middle;
	margin-right: 12px;
}

.ppbw-plugin-cta-upgrade .button {
    position: absolute;
    top: calc(50% - 15px);
    right: 25px;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .ppbw-plugin-cta-wrap .button {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .ppbw-plugin-cta-upgrade .note {
        max-width: 100%;
    }
    .ppbw-plugin-cta-upgrade .button {
        position: static;
    }
    .ppbw-plugin-cta-upgrade {
        padding: 10px 15px;
    }
    .column-wrap-pp {
        display: block !important;
    }
}

.notice .ppbw-plugin-cta-wrap {
	padding: 0px 0px 10px 6px;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    border-top: none;
	background-color: #fff;
	margin-top: 10px;
}

.notice .ppbw-customize-text{
    padding: 10px 0px 0px 0px;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.notice .ppbw-rating-text{
    padding: 10px 0px 0px 0px;
}


.column-wrap-pp {
    display: flex;justify-content: space-between;
}

.col-pp-50 {
    flex: 50%;
}

.col-pp-50 .d-float {
    position: fixed;
}

@media (max-width:1023px) {
    .col-pp-50 .d-float {
        position: fixed;
    }
}

.wrap-ppbw .inner-ppbw .left-box-ppbw{
    padding-right: 30px;
    width: calc(100% - 450px);
}
.wrap-ppbw .inner-ppbw .right-box-ppbw{
    width: 400px;
    position: fixed;
    top: 50px;
    right: 5px;
    z-index: 1000;
}

.ppbw-plugin-cta{
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-bottom: 15px;
}
.ppbw-plugin-cta .ppbw-heading{
    font-size: 18px;
    line-height:1.2;
    margin: 0 0 10px 0;
    padding: 0;
}
.ppbw-plugin-cta p{
    font-size: 14px;
    margin: 0 0 15px 0;
    padding: 0;
}
.ppbw-plugin-cta .button{
    margin-bottom: 10px;
}

.ppbw-plugin-cta.upgrade{
    background-color: #fdb930;
    text-align: center;
    border: 0;
}
.ppbw-plugin-cta.upgrade p{
    color: #000;
    font-weight: 450;
    font-size: 16px;
}
.ppbw-plugin-cta.upgrade .button{
    background-color: #262626;
    box-shadow: 0 4px 0 #7f7f7f;
    color: #fff;
    transition: all .2s ease-in-out;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    height: auto;
    padding: 10px 15px;
    min-width: 160px;
    text-transform: uppercase;
}

@media screen and (max-width: 1366px) {
    .wrap-ppbw .inner-ppbw .left-box-ppbw{
        width: calc(100% - 350px);
    }
    .wrap-ppbw .inner-ppbw .right-box-ppbw{
        width: 300px;
    }
}

@media screen and (max-width: 1023px) {
    .wrap-ppbw .inner-ppbw .left-box-ppbw{
        width: 100%;
        box-sizing: border-box;
        padding-right: 0;
    }
    .wrap-ppbw .inner-ppbw .right-box-ppbw{
        position: static;
        width: 100%;
        box-sizing: border-box;
    }
}

/* Show other plugin Start*/
.show-other-plugin {
    background-color: #FDBC33 !important;
}
.show-other-plugin h2,
.show-other-plugin h3,
.show-other-plugin p, 
.show-other-plugin ul li {
    color: #282928;
}
.show-other-plugin h2.ppbw-heading {
    font-size: 18px;
    margin-bottom: 10px;
}
.show-other-plugin h3.ppbw-heading {
    font-weight: 400;
}
.show-other-plugin h3.ppbw-heading span {
    font-weight: 500;
}
.show-other-plugin hr {
    border-top: 1px solid #414141;
    border-bottom: 0;
}

ul.custom-bullet li {
    background-image: url('../images/list-icon.svg');
    background-repeat: no-repeat;
    height: 18px;
    background-position-y: top;
    padding-left: 26px;
    font-size: 14px;
}
.show-other-plugin p {
    margin-top: 10px !important;
    font-size: 15px !important;
}
.show-other-plugin .button-install {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: #EEEEEE;
    line-height: 2.15384615;
    min-height: 30px;
    margin: 0;
    padding: 4px 14px;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
    border: none;
    background-color: #282928;
    box-shadow: 0 3px 0 #696969;
    transition: 0.3s;
}
.show-other-plugin .button-install:hover {    
    box-shadow: 0 4px 0 #696969;
}
/* Show other plugin End*/


.main-div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 24px;
}
@media (min-width: 768px) {
    .main-div {
        flex-direction: row;
    }
    .main-div .div1 {
        width: 75%;
        margin-top: 10px;
    }
    .main-div .div2 {
        width: 50%;
        margin-top: 10px;
    }
}
@media (min-width: 1230px) {
    .main-div .div2 {
        width: 30%;
    }
}


.main-div .div1 .ppbw-plugin-cta-wrap .button {
    margin-top: 10px;
}

.main-div .div1 .ppbw-plugin-cta-wrap h2 {    
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
    line-height: 1.4;
}
.main-div .div1 .ppbw-plugin-cta-wrap h3 {
    line-height: 1.4;
    width: 80%;
}
.main-div .div1 .ppbw-plugin-cta-wrap h2 span {
    font-style: italic;
    color: #FDBC33;
}
.main-div .div2 h2 {
    margin-top: 0;
}

.ppbw-plugin-cta h2{
    margin: 13px 0;
}

.ppbw-plugin-cta h3{
    margin: 13px 0;
}